%h1{id: "welcome", onclick: "ToggleText(this)"}= t('.title')
%p{id: "welcomep"}= t('.welcome')
= image_tag("bg.jpg", class: 'bg_image')


#cart.carts
  =render_if @cart && @cart.line_items.any?, @cart

.home
  %ul.catalog
    - cache @products do
      - @products.each do |product|
        - cache product do
          %li
            = image_tag(product.image_url)
            %h2= product.title
            %p
              = sanitize(product.description)
            .price
              = number_to_currency(product.price)
              %br
              %br
            = button_to 'Add to Cart', line_items_path(product_id: product), remote: true

%br
%input#smallb{onclick: "SetFontSize('80%')", type: "button", value: "Small"}
%input#medb{onclick: "SetFontSize('100%')", type: "button", value: "Medium"}
%input#largeb{onclick: "SetFontSize('120%')", type: "button", value: "Large"}
%br
%input#lightmode{onclick: "SetPageStyle('Light')", type: "button", value: "Light"}
%input#darkmode{onclick: "SetPageStyle('Dark')", type: "button", value: "Dark"}
