= form_with(model: order, local: true) do |form|
  - if order.errors.any?
    #error_explanation
      %h2
        = pluralize(order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - order.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name, id: :order_name, size: 40
  .field
    = form.label :address
    = form.text_area :address, id: :order_address, rows: 3, cols: 40
  .field
    = form.label :email
    = form.email_field :email, id: :order_email, size: 40
  #pay-type-component
  .actions
    = form.submit 'Place Order'
