%p#notice= notice

%p
  %b Name:
  = @order.name
%p
  %b Address:
  = @order.address
%p
  %b Email:
  = @order.email
%p
  %b Pay Type:
  = @order.pay_type

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
