- if notice
  %aside#notice= notice
.carts
  %article
    %h2 Your Cart
    %table
      =render(@cart.line_items)
      %tfoot
        %tr
          %th{:colspan => "2"} Total:
          %td.price= number_to_currency(@cart.total_price)
    .actions
      = button_to 'Empty cart', cart,
        method: :delete,
        data: { confirm: 'Are you sure?' }
      = button_to 'Checkout', new_order_path,
        method: :get,
        class: "checkout"

= link_to 'Edit', edit_cart_path(@cart)
\|
= link_to 'Back', carts_path
