.contact-wrapper
  %h1= t('.title')
  .border
  %p= t('.about')
  %h1= t('.contact')
  .border
  %form#my-form.contact-form{:action => "mailto:chesscentral2020@gmail.com", :method => "post", :enctype => "text/plain"}
    %input.contact-form-text{:name => "name", :placeholder => "Your name", :required => "", :type => "text"}/
    %input.contact-form-text{:name => "email", :placeholder => "Your email", :required => "", :type => "email"}/
    %textarea.contact-form-text{:name => "message", :placeholder => "Your message", :required => "", :type => "text"}
    %input.contact-form-btn{:type => "submit", :value => "Send"}/
    #status
