// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$bg-colour: #17252a;
$active-colour: #3aafa9;

.contact-wrapper {
	background: url(images/gd2.jpg) no-repeat center;
	background-size: cover;
	padding: 20px 0px;
}

.contact-wrapper h1 {
	text-align: center;
	color: #000;
	display: flex;
	flex-direction: column;
}

.border {
	width: 100px;
	height: 10px;
	background: $bg-colour;
	margin: 20px auto;
}

.contact-form {
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}

.contact-form-text {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: $bg-colour;
	padding: 20px 40px;
	outline: none;
	color: #ddd;
	transition: 0.5s;
}

.contact-form-text:hover {
	box-shadow: 0 0 10px 4px $active-colour;
}

textarea.contact-form-text {
	resize: none;
	height: 120px;
}

.contact-form-btn {
	width: 100%;
	border: 0;
	background: $bg-colour;
	color: #fff;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
	margin-bottom: 10px;
	transition: 0.5s;
}

.contact-form-btn:hover {
	background-color: $active-colour;
}

#status {
	width: 100%;
	max-width: 600px;
	text-align: center;
	padding: 5px 0px;
	border-radius: 20px;
	color: #fff;
}

#status.success {
	background-color: green;
	animation: status 3s ease forwards;
}

#status.error {
	background-color: #ba0c0c;
	animation: status 3s ease forwards;
}
