/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "colours.scss";

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .bg_image {
    width: 100%;
    height: auto;
  }
}

#notice,
.notice {
  background: $hover-colour;
  border-radius: 0.5em;
  border: solid 0.177em $bg-colour;
  color: $bg-colour;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 1.414em;
  text-align: center;
}

#cart {
  padding-top: 10px;

  article {
    h2 {
      margin-top: 0;
    }
    background-color: $hover-colour;
    padding: 1em;
    margin: 1em;
    @media (min-width: 30em) {
      margin: 0; // desktop doesn't need this margin
    }
  }
}

nav.logged_in_nav {
  padding-left: 0px;
  margin-left: 0px;

  ul {
    list-style: none;
    background-color: $bg-colour;
    float: left;

    overflow: hidden;
    li {
      a{
        color: white
      }
      float: left;
      display: block;
      color: $nav-colour;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      /* Change the color of links on hover */
      &:hover {
        background-color: $hover-colour;
        color: black;
      }
      /* Add an active class to highlight the current page */
      &.active {
        background-color: $active-colour;
        color: white;
      }
    }
  }

  input[type="submit"] {
    // Make the logout button look like a
    // link, so it matches the nav style
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  input[type="submit"]:hover {
    color: $active-colour;
  }
}

footer {
  margin-top: auto;
  background-color: $bg-colour;
  color: #fff;
  height: 40px;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  padding-top: 15px;
}
/* Style the links inside the navigation bar */
.topnav {
  background-color: $bg-colour;
  overflow: hidden;

  a {
    float: left;
    display: block;
    color: $nav-colour;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* Change the color of links on hover */
    &:hover {
      background-color: $hover-colour;
      color: black;
    }
    /* Add an active class to highlight the current page */
    &.active {
      background-color: $active-colour;
      color: white;
    }
  }

  .icon {
    display: none;
  }
}
/* Hide the link that should open and close the topnav on small screens */
/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: $bg-colour;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
  /* The sidebar links */
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $nav-colour;
    display: block;
    transition: 0.3s;

    &.active {
      background-color: $active-colour;
    }
  }
  /* When you mouse over the navigation links, change their color */
  a:hover {
    background-color: $hover-colour;
    color: black;
  }
  /* Position and style the close button (top right corner) */
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}
/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: $bg-colour;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: $hover-colour;
  color: black;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  /* If you want a transition effect */
  button {
    display: none;
    width: 100%;
  }
}

#main_content {
  transition: margin-left 0.5s;
  /* If you want a transition effect */
  padding: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }

  #main button {
    display: block;
  }
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  #main button {
    display: block;
  }

  .topnav {
    display: none;
  }
}
