// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carts {
  table {
    border-collapse: collapse;
  }

  td {
    padding: 0.5em;
  }

  td.quantity {
    white-space: nowrap;
  }

  td.quantity::after {
    content: " ×";
  }

  td.price {
    font-weight: bold;
    text-align: right;
  }

  tfoot {
    td.price,
    th {
      font-weight: bold;
      padding-top: 1em;
    }

    th {
      text-align: right;
    }

    td.price {
      border-top: solid thin;
    }
  }
  
}
