// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colours.scss";

#welcome {
  cursor: pointer;
}

input[type="submit"] {
  background-color: $bg-colour;
  border-radius: 20px;
  //border: solid thick $active-colour;
  color: white;
  font-size: 1em;
  padding: 0.354em 1em;
}

input[type="submit"]:hover {
  background-color: $active-colour;
}

.home {
  padding-top: 10px;
  max-width: 100%;

  ul.catalog {
    border-top: solid 0.250em;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 1em;
      margin: 0;
      border-bottom: solid thin #ddd; // This makes sure our <li> has enough height
      // to hold the entire image, since it's floated
      &::after {
        clear: both;
        content: " ";
        display: block;
      }

      img {
        float: left;
        width: 300px;
        height: auto;
        padding: 0em;
        margin-right: 1em;
        margin-bottom: 1em;
        box-shadow: 0.176em 0.176em 0.354em 0 rgba(0,0,0,0.75);
      }

      .price {
        font-size: 1.414em;
      }
    }
  }
}

@media screen and (max-width: 600px) {

  .home ul.catalog li img{
    width: 150px;
  }

}
