// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colours.scss";

.products {
  width: 100%;
  color: $bg-colour;
  margin: 0;
  padding: 0.5em;
  text-decoration: none;

  tfoot tr td.new_btn {
    color: $bg-colour;
  }

  a {
    text-decoration: none;
    padding: 0.354em 0.5em;
    border-radius: 0.354em;
  }

  td {
    padding: 0.5em;
    margin: 0;
  }

  tr.list_line_odd {
    background-color: $hover-colour;
  }

  td.image {
    // Hide this on mobile devices
    display: block;
    img {
      height: 8em;
    }

    // Assume anything bigger than 30em
    // is a non-mobile device and can
    // fit the image.
    @media (min-width: 30em) {
    display: block;
    img {
      height: 11.3em;
    }
  }
}

td.description {
  width: 100%;
  h1 {
    font-size: 1.4em;
  }
}

td.actions {
  ul {
    padding: 0;
    list-style: none;
    li {
      a:hover{
        background-color: $active-colour;
      }
      padding: 0.5em 0.5em;
    }
  }
}

tfoot {
    td {
      a:hover{
          color: $hover-colour;
          background-color: $active-colour;
        }
      padding: 1.5em 0;
      text-align: right;
    }
  }
}
