- if notice
  %aside#notice= notice
%h1= t('.title')
%table.products
  %tfoot
    %tr
      %td.new_btn{:colspan => "3"}
        = link_to 'New Product', new_product_path
  %tbody
    - @products.each do |product|
      %tr{:class => cycle('list_line_odd', 'list_line_even')}
        %td.image
          = image_tag(product.image_url, class: 'list_image')
        %td.description
          %h1= product.title
          %p
            = truncate(strip_tags(product.description), |
              length: 80)                               |
            %br
            %h1
              = product.price
        %td.actions
          %ul
            %li= link_to 'Show', product
            %li= link_to 'Edit', edit_product_path(product)
            %li
              = link_to 'Destroy',                 |
                product,                           |
                method: :delete,                   |
                data: { confirm: 'Are you sure?' } |
