%p#notice= notice

%p
  %b Title:
  = @product. title
%p
  %b Description:
  = @product.description
%p
  %b Price:
  = @product.price
%p
  %b Image url:
  = @product.image_url

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
